/output-vmware-windows-iso
/packer_cache
windows/windows-10-amd64/answer.iso
9600.16384.WINBLUE_RTM.130821-1623_X64FRE_SERVER_EVAL_EN-US-IRM_SSS_X64FREE_EN-US_DV5_slipstream.iso
en-gb_windows_10_enterprise_n_x64_dvd_6852546.iso
/.aptcache
/en_windows_10_enterprise_x64_dvd_6851151.iso
virtualbox_windows-10_chef.box
/ubuntu-14.04.3-server-amd64.iso
/ubuntu-15.10-server-amd64.iso
/10240.16384.150709-1700.TH1_CLIENTENTERPRISEEVAL_OEMRET_X64FRE_EN-US.ISO
/hyperv_ubuntu-14.04_chef.box
/hyperv_ubuntu-15.04_chef.box
/hyperv_ubuntu-15.10_chef.box
/hyperv_windows-10_chef.box
/hyperv_windows-2012r2_chef.box
/pfSense.iso
/ubuntu-15.04-server-amd64.iso
/windows/windows-2012R2-serverdatacenter-amd64/answer.iso
/*.ISO
/*.iso
